.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: 0 auto;
    border: #000 solid;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 5px #888888;
} 